<%= stylesheet_link_tag 'jive-global' %>

<body class="jive-body-formpage jive-body-formpage-login">
  <div id="jive-wrapper" class="clearfix">
    <div class='logo'>
    </div>

    <div id="jive-body-intro">
        <div id="jive-body-intro-content">
            <h1>用户登录</h1>
            <p>请输入<b>用户名和密码</b>. 
            </p>

        </div>

    </div>

    <div id="jive-body-full">
      <div id="jive-body-main">
          <!-- BEGIN main body column -->
          <div id="jive-body-maincol-container">
              <div id="jive-body-maincol">

                  <!-- BEGIN login form -->
                  <div class="jive-standard-formblock-container jive-login-formblock">
        

                      <div class="jive-standard-formblock">
                      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

                        <div id="jive-login-username">
                        <label for="user_login">用户名:</label>
                        <input type="text" name="user[login]" size="30" maxlength="150" value="" id="user_login">
                        </div>
                        
                        <div id="jive-login-password">
                        <label for="password01">密码:</label>
                        <input type="password" name="user[password]" size="30" maxlength="150" value="" id="user_password">
                        </div>

                        <div id="jive-login-rememberme">
                        <input name="user[remember_me]" type="hidden" value="0" />
                        <input type="checkbox" name="user[remember_me]" id="user_remember_me" value="1">
                        <label for="user_remember_me">记住我</label>
                        </div>  
                        
                        <div class="jive-form-buttons">
                            <p><%= submit_tag 'Log in' %></p>
                        </div>

                    <% end %>
                    
                      <a href="/sign_up">注册</a>
                        
                      </div>
                  </div>
                  <!-- END login form -->

              </div>
        <p align="center">请使用<a href="http://firefox.com.cn/download/">Firefox</a>或<a href="http://www.google.cn/chrome">Chrome</a>进行浏览！</p>
          </div>
          <!-- END main body column -->


      </div>
      <!-- END main body -->
    </div>
    <!-- BEGIN footer -->
    <div id="jive-footer" class="clearfix">
      <div class="jive-footer-nav">
        Copyright © 2011, Brightechs, Inc.            
          <div class="jiveVersion" style="display: none;">
            Webgis Software Version: 33            
          </div>
        -  <a href="mailto:szpapas@qq.com">技术支持Email</a>
       </div>

    </div>
    <!-- END footer -->

  </div>







